body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}


::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da área de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem quando o mouse está sobre ela */
}

/* Estilizando a barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-horizontal-track {
  background: #f1f1f1; /* Cor de fundo da área de rolagem horizontal */
}

::-webkit-scrollbar-horizontal-thumb {
  background: #888; /* Cor da barra de rolagem horizontal */
}

::-webkit-scrollbar-horizontal-thumb:hover {
  background: #555; /* Cor da barra de rolagem horizontal quando o mouse está sobre ela */
}